Source: pgvector
Section: database
Priority: optional
Maintainer: <mdb@yandex-team.ru>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 195~), git
Standards-Version: 1.1-0
Homepage: https://github.yandex-team.ru/mdb/pgvector.git

Package: pgvector-10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-10
Description: Extension to create a logical replication slot in the past.

Package: pgvector-11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-11
Description: Extension to create a logical replication slot in the past.

Package: pgvector-12
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-12
Description: Extension to create a logical replication slot in the past.

Package: pgvector-13
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-13
Description: Extension to create a logical replication slot in the past.

Package: pgvector-14
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-14
Description: Extension to create a logical replication slot in the past.

Package: pgvector-15
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-15
Description: Extension to create a logical replication slot in the past.
