Source: pgvector
Section: database
Priority: optional
Maintainer: <mdb@yandex-team.ru>
Build-Depends: debhelper (>= 10), postgresql-server-dev-all (>= 195~), git
Standards-Version: 1.1-0
Homepage: https://bb.yandex-team.ru/projects/MDB/repos/pgvector/browse

Package: pgvector-13
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-13
Description: Open-source vector similarity search for PostgreSQL

Package: pgvector-14
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-14
Description: Open-source vector similarity search for PostgreSQL

Package: pgvector-15
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-15
Description: Open-source vector similarity search for PostgreSQL

Package: pgvector-16
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-16
Description: Open-source vector similarity search for PostgreSQL

Package: pgvector-17
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-17
Description: Open-source vector similarity search for PostgreSQL
